root{
	--color1: rgb(235, 83, 83);
	--font-family: arial;
	--font-size: 18px;
	--background-img: url("./img/astroBakcgroun.webp");
}
* {
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
}
body{
	/*background-color:rgb(255, 239, 167);*/
	background-image: url("./img/astroBakcgroun.webp");
	background-size:cover;
	background-position:center;
	backdrop-filter: blur(0px);
	background-repeat:no-repeat;
}